{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Laboratoire Ecophysiologie Végétale</title>
    
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
      <!-- Font Awesome Icons -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
      <!-- Custom Styles -->
      <link rel="stylesheet" type="text/css" href="{{ asset('styles/style.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ asset('styles/carouselle.css') }}">
    </head>
    <body>
      <!-- Navigation Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
          <img src="https://png.pngtree.com/png-vector/20220625/ourmid/pngtree-laboratory-logo-template-lab-vector-png-image_5416964.png" alt="Photo 1" class="img-fluid" style="max-height: 80px;">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/experience">Experience</a>
                <a class="dropdown-item" href="/serre">Serres</a>
                <div class="dropdown-divider"></div>

              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('page-de-login') }}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Connexion</button>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      {% block body %}
          <div id="contenu">
              {% block contenu %}{% endblock %}
          </div>
      {% endblock %}
    </body>
</html>