{# templates/indexController/index.html.twig #}
{% extends 'base.html.twig' %}

{% block contenu %}
<!-- Featured Articles Section -->
<div class="container mt-5">
  <center><h1>LABORATOIRE ECOPHYSIOLOGIE VEGETALE</h1></center>
  <p><center><em>"Mieux comprendre les mécanismes écophysiologiques des plantes et des écosystèmes."</em></center></p>
  <br>
  <br>

  <!-- Carousel -->
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://www.consoglobe.com/wp-content/uploads/2020/02/plante-d-interieur-hiver_shutterstock_1890048094.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://media.gerbeaud.net/2019/07/640/agrumes-dehors.jpg" alt="Second slide" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://www.ctendance.fr/wp-content/uploads/2020/12/bien-acheter-plantes-dinterieur.jpg" alt="Third slide ">
      </div>
      <!-- Ajoutez plus d'éléments de carrousel ici avec des images de taille moyenne -->
    </div>
    <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<center><p><em>
  Bienvenue au Laboratoire d'Écophysiologie Végétale ! Ici, nous plongeons au cœur des mystères des plantes et de leur interaction avec l'environnement.</em></p></center>
<center><p><em>Notre équipe de chercheurs passionnés explore comment les plantes réagissent aux défis climatiques, </em></p></center>
<center><p><em>à la pollution et à d'autres stress. Avec des technologies de pointe et une curiosité sans limite, </em></p></center>
<center><p><em> nous travaillons à comprendre comment les plantes prospèrent et s'adaptent. Rejoignez-nous dans notre quête pour un avenir durable et vert ! </em></p></center>

<section class="container mt-5">
  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card">
        <img src="https://serres.univ-lille.fr/fileadmin/_processed_/4/f/csm_33656_IMG_1477_cellule_3e9c81b4ae.jpg" class="card-img-top" alt="Article Image">
        <div class="card-body">
          <h5 class="card-title">Les merveilles de la physiologie végétale </h5>
          <p class="card-text">Bienvenue au laboratoire, où le monde de la physiologie végétale prend vie ! Notre laboratoire a pour mission de percer les mystères du fonctionnement des plantes, de leur croissance et de leur réaction à leur environnement. Dans cet article, nous vous proposons de découvrir nos recherches de pointe et nos expériences innovantes. De l'étude de la photosynthèse à l'exploration des interactions entre les plantes et les microbes, notre équipe de chercheurs se passionne pour l'avancement de notre compréhension de la vie végétale. Rejoignez-nous pour découvrir l'incroyable travail réalisé à SuperLabVeg et son impact sur les sciences agricoles, environnementales et biologiques.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-4">
      <div class="card">
        <img src="https://serres.univ-lille.fr/fileadmin/_processed_/b/4/csm_33648_24mai2013_938924mai2013_9389230913_cellule_chaude_6eeb6a08a4.jpg" class="card-img-top" alt="Article Image">
        <div class="card-body">
          <h5 class="card-title">Cultiver l'excellence : Un aperçu du laboratoire de physiologie végétale </h5>
          <p class="card-text">Plongez au cœur de l'exploration botanique au laboratoire de physiologie.
            Notre établissement est un centre de curiosité scientifique, où chercheurs et étudiants collaborent pour explorer les mécanismes complexes qui régissent la vie des plantes. Qu'il s'agisse d'étudier le rôle des hormones dans la croissance des plantes ou de plonger dans le monde fascinant des réactions au stress, notre laboratoire est à l'avant-garde des découvertes révolutionnaires. Dans cet article, découvrez les équipements de pointe, l'équipe dévouée et les projets de recherche à fort impact qui font du laboratoire de physiologie végétale de [votre université/institution] un modèle d'excellence dans le domaine.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-4">
      <div class="card">
        <img src="https://serres.univ-lille.fr/fileadmin/_processed_/0/f/csm_33647_IMG_1469_serre_champ_343276133b.jpg" class="card-img-top" alt="Article Image">
        <div class="card-body">
          <h5 class="card-title">Démasquer les secrets de la nature : le laboratoire de physiologie végétale de </h5>
          <p class="card-text">La nature a son propre langage et, à SuperLabVeg, nous maîtrisons les conversations silencieuses entre les plantes et leur environnement. Notre laboratoire de physiologie végétale est un havre de paix pour ceux qui cherchent à décoder les signaux, les processus et les adaptations qui définissent la vie des plantes. Dans cet article, nous vous invitons à explorer l'éthique de notre laboratoire, où les scientifiques et les étudiants se livrent à des expériences pratiques et repoussent les limites de la connaissance. Qu'il s'agisse d'étudier les relations hydriques des plantes ou de comprendre comment elles s'adaptent aux changements climatiques, notre équipe s'engage à démêler les complexités du monde botanique. Rejoignez-nous pour un voyage de découverte à SuperLabVeg.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Bootstrap and Font Awesome Scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% endblock %}